body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal {
  background-color: rgb(13, 21, 32);
  height: 100%;
  min-height: 25vh;
  position: fixed;
  width: 100%;
  border: solid white;
  inset: 50vh 0 0 0;
  z-index: var(--layer5);
  resize: vertical;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
}

.outerContainer {
  display: flex;
  flex-direction: row;
  height: 50%;
}

/* .leftContainer  {
} */

.rightContainer {
  width: 50vw;
  height: 99%;
  border-left: solid rgba(33 39 55) 2px;
  overflow-y: auto;
}

header {
  background-color: rgb(23, 35, 53);
  color: white;
  padding: 15px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  align-items: baseline;
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.statusGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

#fresh {
  color: white;
  background-color: green;
  margin-right: 10px;
  border-radius: 5px;
}

#fresh:disabled {
  color: rgba(88 92 109);
  background-color: rgba(16 66 52);
  margin-right: 10px;
}

#fetching {
  color: white;
  background-color: rgba(45 105 246);
  margin-right: 10px;
  border-radius: 5px;
}

#fetching:disabled {
  color: rgba(88 92 109);
  background-color: rgba(36 35 103);
  margin-right: 10px;
}

#stale {
  color: white;
  background-color: yellow;
  margin-right: 10px;
  border-radius: 5px;
}

#stale:disabled {
  color: rgba(88 92 109);
  background-color: rgb(203, 153, 14);
  margin-right: 10px;
}

#inactive {
  color: white;
  color: gray;
  margin-right: 10px;
  border-radius: 5px;
}

#inactive:disabled {
  color: rgba(88 92 109);
  background-color: rgba(31 38 57);
  margin-right: 10px;
}

#activeQuery {
  display: flex;
  flex-direction: column;
  color: white;
}

.detailsHeader {
  background-color: rgb(23, 35, 53);
  color: white;
}

.queryDetailsContent {
  padding: 10px;

}

.queryActionsHeader {
  background-color: rgb(23, 35, 53);
  color: white;
}

.queryActionsButtons {
  padding: 10px;
}

#refetch {
  background-color: rgba(45 105 246);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

#remove {
  background-color: rgba(234 51 132);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}